<div class="navbar">
    <a routerLink="/letovi" routerLinkActive="active" ariaCurrentWhenActive="page">Ponuda</a>
    <a routerLink="/preporuka"routerLinkActive="active" ariaCurrentWhenActive="page">Preporuka</a>
    <a routerLink="/o-nama"routerLinkActive="active" ariaCurrentWhenActive="page">O nama</a>
    
    
    </div>

    <div>
        <a routerLink="/forma" routerLinkActive="active" ariaCurrentWhenActive="page">Forma</a><br>
        <a routerLink="/di"routerLinkActive="active" ariaCurrentWhenActive="page">DI</a><br>
        <a routerLink="/komponenta"routerLinkActive="active" ariaCurrentWhenActive="page">Komponenta nova</a><br>
        
    </div>
        <div> <router-outlet></router-outlet> </div>
