
<table>
    <tr>
    <th>ID leta</th>
    <th>VremePolaska</th>
    <th>MestoPolaska</th>
    <th>VremeDolaska</th>
    <th>MestoDolaska</th>
    </tr>
    <tr>
    <td> {{ IDleta }} </td>
    <td> {{ VremePolaska }} </td>
    <td> {{ MestoPolaska }} </td>
    <td> {{ VremeDolaska }} </td>
    <td> {{ MestoDolaska }} </td>
    </tr>
    <tr>
        <td> {{ IDleta1 }} </td>
        <td> {{ VremePolaska1 }} </td>
        <td> {{ MestoPolaska1}} </td>
        <td> {{ VremeDolaska1 }} </td>
        <td> {{ MestoDolaska1 }} </td>
        </tr>
    </table>